### Q) 치킨집을 어느 지역에 내면 좋을까????    --> 매장수가 적은 곳?


#### 치킨집이 많다/적다  ==   치킨집 `매장수` 가 많다 / 적다 ?
####   `사람수 대비 매장수` 비교해보면 ???

---

## 인구 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
fname = './population/주민등록인구및세대현황_월간.xlsx'

In [3]:
raw = pd.read_excel(fname, header = 2, thousands = ',')
raw.head()

                     행정기관     총인구수      세대수  세대당 인구   남자 인구수   여자 인구수  남여 비율
0     서울특별시  (1100000000)  9765623  4263868    2.29  4773899  4991724   0.96
1  서울특별시 종로구 (1111000000)   153065    73735    2.08    74825    78240   0.96
2   서울특별시 중구 (1114000000)   125725    61502    2.04    61947    63778   0.97
3  서울특별시 용산구 (1117000000)   228999   108974    2.10   110640   118359   0.93
4  서울특별시 성동구 (1120000000)   308221   137209    2.25   151359   156862   0.96

인구 데이터 <- ->  카페 매장수 데이터 병합!

- 인구데이터 지역 : `서울특별시 종로구 (1111000000)`


- 매장 데이터 지역 표기:  `서울특별시 / 종로구`


==> 지역 명칭 통일 필요

In [4]:
# 행정기관 코드 없이  서울특별시 xx구 형식으로 정리하기
temp_list = [ ]
for c in raw['행정기관']:
    temp = c.split(' (')[0]
    temp_list.append(temp)
raw['시군구정리'] = temp_list

In [5]:
raw

,행정기관,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율,시군구정리
0,서울특별시 (1100000000),9765623,4263868,2.29,4773899,4991724,0.96,서울특별시
1,서울특별시 종로구 (1111000000),153065,73735,2.08,74825,78240,0.96,서울특별시 종로구
2,서울특별시 중구 (1114000000),125725,61502,2.04,61947,63778,0.97,서울특별시 중구
3,서울특별시 용산구 (1117000000),228999,108974,2.10,110640,118359,0.93,서울특별시 용산구
4,서울특별시 성동구 (1120000000),308221,137209,2.25,151359,156862,0.96,서울특별시 성동구
...,...,...,...,...,...,...,...,...
273,경상남도 거창군 (4888000000),62455,28814,2.17,30340,32115,0.94,경상남도 거창군
274,경상남도 합천군 (4889000000),45916,24076,1.91,22001,23915,0.92,경상남도 합천군
275,제주특별자치도 (5000000000),667191,287104,2.32,335719,331472,1.01,제주특별자치도
276,제주특별자치도 제주시 (5011000000),485946,204621,2.37,243974,241972,1.01,제주특별자치도 제주시
277,제주특별자치도 서귀포시 (5013000000),181245,82483,2.20,91745,89500,1.03,제주특별자치도 서귀포시

In [6]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정기관    278 non-null    object
 1   총인구수    278 non-null    int64
 2   세대수     278 non-null    int64
 3   세대당 인구  278 non-null    float64
 4   남자 인구수  278 non-null    int64
 5   여자 인구수  278 non-null    int64
 6   남여 비율   278 non-null    float64
 7   시군구정리   278 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 17.5+ KB

In [7]:
# 저장하기
raw.to_excel('./data/population.xlsx', index = False)